/* You can add global styles to this file, and also import other style files */
@import '~bulma/css/bulma.min.css';
 
 .gris
 {
  background-color: #272727;
 }

html{
  height:100%;
  /*background-color: black;*/
  background-image: url("assets/image/Texture_finale.png");
}

body
{
  /*background-color: black;*/
  min-height: 100%
}

div.greyBold {
  width: 426px;
  height: 72px;
  border-radius: 36px;
  background-color: #737373;
  color: white;
  margin-bottom: 5%;
  margin-right: 3%;

}

div.grey {
  width: 426px;
  height: 72px;
  border-radius: 36px;
  background-color: #bababa;
  color: white;
  margin-bottom: 5%;
  margin-right: 3%;

}

div.rose {
  width: 426px;
  height: 72px;
  border-radius: 36px;
  background-color: #DF7373;
  color: white;
  margin-bottom: 5%;
  margin-right: 3%;

}

div.green {
  width: 426px;
  height: 72px;
  border-radius: 36px;
  background-color: #64B6AC;
  color: white;
  margin-bottom: 5%;
  margin-right: 3%;

}

.navbar-item img {
    max-height: 4rem;
}

div.img
{
  background-image: url("/assets/image/BoutonFinal1.png");
  background-repeat:no-repeat;
  background-position: center; 
}

.Divertissement
{
  background-image: url("/assets/image/Divertissement.png");
  background-repeat:no-repeat;
    background-position: center;
}

.Economie
{
  background-image: url("/assets/image/Economie.png");
  background-repeat:no-repeat;
  background-position: center; 
}

.Sante
{
  background-image: url("/assets/image/Santé.png");
  background-repeat:no-repeat;
  background-position: center; 
}

.ScieetTech
{
  background-image: url("/assets/image/Sciences.png");
  background-repeat:no-repeat;
  background-position: center; 
}

.Sport
{
  background-image: url("/assets/image/Sport.png");
  background-repeat:no-repeat;
  background-position: center; 
}
