/* You can add global styles to this file, and also import other style files */
@import '~bulma/css/bulma.min.css';
 
 .gris
 {
  background-color: #272727;
 }

html{
  height:100%;
  background-color: black;
}

body
{
  background-color: black;
  min-height: 100%
}

.navbar-item img {
    max-height: 4rem;
}

div.img
{
  background-image: url("/assets/image/BoutonFinal1.png");
  background-repeat:no-repeat;
  background-position: center; 
}

.Divertissement
{
  background-image: url("/assets/image/Divertissement.png");
  background-repeat:no-repeat;
    background-position: center;
}

.Economie
{
  background-image: url("/assets/image/Economie.png");
  background-repeat:no-repeat;
  background-position: center; 
}

.Sante
{
  background-image: url("/assets/image/Santé.png");
  background-repeat:no-repeat;
  background-position: center; 
}

.ScieetTech
{
  background-image: url("/assets/image/Sciences.png");
  background-repeat:no-repeat;
  background-position: center; 
}

.Sport
{
  background-image: url("/assets/image/Sport.png");
  background-repeat:no-repeat;
  background-position: center; 
}