<main class="bd-main">
    <div class="bd-breadcrumb">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li>
              <a href="">Home</a>
            </li>          
        </ul>
      </nav>
    </div>
     <div class="bd-main-container container">
        <div class="bd-duo">
          

            <aside class="bd-side">
                <nav id="categories" class="bd-categories">
                    <div *ngFor="let categorie of categories" class="bd-category ">

                        <header class="bd-category-header">
                            <a class="bd-category-toggle">
                                <span class="icon">
                                </span>
                            </a>
                            <a class="bd-category-name " href="{{categorie.name}}">
                              <strong>{{categorie.name}}</strong>
                            </a>
                        </header>

                        <ul class="bd-category-list">
                            <li *ngFor="let souscategorie of categorie.sousCategories" 
                             (click)="onSelect(categorie.id, souscategorie)" >
                                <a>
                                    {{souscategorie.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </aside>

            <div class="bd-lead">
              mlkmlkmlk
            </div>

        </div>

    </div>
</main>