
<div class="columns is-8 is-mobile is-centered" style="margin-top: 10%;margin-right: 15%;">
  <div *ngFor="let list of ListPays2" class="column is-4 has-text-centered">
        <div class="notification {{list.color}}">
        	<a  routerLink="/choix" style="text-decoration: none;">{{list.name}}</a>
        </div>
   </div>
</div>

<div class="columns is-8 is-mobile is-centered" style="margin-top: 0.7%;margin-left: 15%;">
  <div *ngFor="let list2 of ListPays" class="column is-4 has-text-centered">
        <div class="notification {{list2.color}}">
        	<a  routerLink="/choix" style="text-decoration: none;">{{list2.name}}</a>
        </div>
   </div>
</div>

<div class="columns is-8 is-mobile is-centered" style="margin-top: 0.7%;margin-right: 15%;">
  <div *ngFor="let list3 of ListPays3" class="column is-4 has-text-centered">
        <div class="notification {{list3.color}}">
        	<a  routerLink="/categories" style="text-decoration: none;">{{list3.name}}</a>
        </div>
   </div>
</div>
