<div class="content">
  <!--<footer class="footer box">
    Footer
  </footer>
   
 <aside class="sidebar box">
    Sidebar
  </aside>-->
 
  <nav class="menu box">
    Menu
  </nav>
   
  <header class="logo box">
    Logo
  </header>

  <nav class="recherchecle box">
    Menu
  </nav>

  <nav class="recherche box">
    Menu
  </nav>

   <nav class="FullB box">
    Menu1
  </nav>
 
  <main class="main multiElement">
    <article class="box">
      Article 1
    </article>
    <article class="box">
      Article 2
    </article>
    <article class="box">
      Article 1
    </article>
    <article class="box">
      Article 2
    </article>
    <article class="box">
      Article 1
    </article>
  </main>
  <nav class="FullB box">
    Menu
  </nav>



   
<!--  <div class="breadcrumb box">
    Fil d'Ariane
  </div>-->
</div>